.p7TPM03 {
	margin: 0 auto;
	padding: 0px;
	border: 0;
	font-family: Calibri, Arial, Helvetica, sans-serif;
}
.p7TPM03:after {
	content: ".";
	font-size: 0px;
	display: inline;
	overflow: hidden;
	line-height: 1;
}
.p7TPM03 img {
	vertical-align: top;
}
/*Triggers construct - including arrows*/
.p7TPMtabs_03 {
	position: relative;
	z-index: 999;
	background-image: url(img/tpm03_tabs.jpg);
	background-repeat: repeat-x;
	background-position: 0px -123px;
	border-right: 1px solid #9DB4B5;
	border-left: 1px solid #9DB4B5;
	border-bottom: 6px solid #9DB4B5;
	overflow: hidden;
	zoom: 1;
}
.p7TPM_arrows_03 .p7TPM_arrow_L, .p7TPM_arrows_03 .p7TPM_arrow_R {
	float: left;
	position: relative;
	z-index: 9999999999;
	border-right: 1px solid #9DB4B5;
}
.p7TPM_arrows_03 .p7TPM_arrow_R {
	float: right;
	border-left: 1px solid #9DB4B5;
	border-right: 0;
}
.p7TPM_arrows_03 a {
	display: block;
	text-decoration: none;
	color: #CCC;
	text-indent: -9999px;
	width: 26px;
	background-repeat: no-repeat;
	background-position: left center;
}
.p7TPM_arrows_03 .p7TPM_arrow_L a {
	background-image: url(img/tpm03_west.png);
}
.p7TPM_arrows_03 .p7TPM_arrow_R a {
	background-image: url(img/tpm03_east.png);
}
.p7TPM_arrows_03 a:hover, .p7TPM_arrows_03 a:focus {
	outline: 0;
	background-position: -26px center;
}
.p7TPM_arrows_03 a.off {
	display: block;
	background-position: -52px center;
	cursor: default;
}
/*Trigger and Arrows Font Size, top, and bottom padding*/
.p7TPM_arrows_03 a, .p7TPM_tabs_03 a, .p7TPM_tabs_03 a:visited {
	font-size: 14px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
/*Trigger Viewport*/
.p7TPM03 .p7TPMtabs_viewport {
	position:relative;
	overflow:hidden;
	zoom: 1;
}
/*Trigger Wrapper*/
.p7TPM03 .p7TPMtabs_wrapper {
	position:relative;
}
/*Trigger UL*/
.p7TPM_tabs_03 {
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 999;
	zoom: 1;
}
.p7TPM_tabs_03 a img {
	border: 0;
}
.p7TPM_tabs_03 li {
	float: left;
	list-style-type: none;
}
.p7TPM_tabs_03 .tpmfirst {
	margin-left: 0;
}
.p7TPM_tabs_03 a, .p7TPM_tabs_03 a:visited {
	text-transform: uppercase;
	display: block;
	color: #000;
	text-decoration: none;
	padding-right: 12px;
	padding-left: 12px;
	background-image: url(img/tpm03_tabs.jpg);
	background-repeat: repeat-x;
	border-left: 1px solid #9DB4B5;
	background-position: 0px -123px;
}
.p7TPM_tabs_03 .tpmfirst a {
	border-left: 0;
}
.p7TPM_tabs_03 .tpmlast a {
	border-right: 1px solid #9DB4B5;
}
.p7TPM_tabs_03 a:hover, .p7TPM_tabs_03 a:focus {
	outline: 0;
	color: #9DB4B5;
}
.p7TPM_tabs_03 a.open, .p7TPM_tabs_03 a.open:visited {
	text-decoration: none;
	color: #000;
	background-position: 0px 0px;
}
/*Panels*/
/*Outer Wrapper*/
.p7TPMcwrapper_03 {
	background-color: #FFF;
	border: 1px solid #9DB4B5;
	position: relative;
	border-top: 0;
}
/*Panels Viewport*/
.p7TPMcwrapper_03 .p7TPM_vp { filter: none;}

/*Individual panels*/
.p7TPM_content_03 {
	padding: 20px;
	color: #000;
	font-size: 14px;
	line-height: 1.5em;
}
