.p7TPM01 {
	width: auto;
	margin: 0 auto;
	padding: 12px;
	background-color: #EDEBDE;
	border-top: 1px solid #F9F8F2;
	border-right: 1px solid #D9D5B9;
	border-bottom: 1px solid #D9D5B9;
	border-left: 1px solid #F9F8F2;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #747658;
}
.p7TPM01:after {
	content: ".";
	font-size: 0px;
	display: inline;
	overflow: hidden;
	line-height: 1;
}
.p7TPM01 img {
	vertical-align: top;
}
/*Triggers construct - including arrows*/
.p7TPM01 .p7TPMtabs_01 {
	position: relative;
	z-index: 999;
	overflow: hidden;
	zoom: 1;
}
.p7TPM_arrows_01 .p7TPM_arrow_L, .p7TPM_arrows_01 .p7TPM_arrow_R {
	float: left;
	position: relative;
	z-index: 9999999999;	
}
.p7TPM_arrows_01 .p7TPM_arrow_R {
	float: right;
}
.p7TPM_arrows_01 a {
	display: block;
	text-decoration: none;
	color: #CCC;
	text-indent: -9999px;
	width: 26px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.p7TPM_arrows_01 .p7TPM_arrow_L a {
	background-image: url(img/tpm01_west.jpg);
}
.p7TPM_arrows_01 .p7TPM_arrow_R a {
	background-image: url(img/tpm01_east.jpg);
}
.p7TPM_arrows_01 a:hover, .p7TPM_arrows_01 a:focus {
	outline: 0;
}
.p7TPM_arrows_01 a.off {
	display: block;
	background-position: 0px -138px;
	cursor: default;
}
/*Trigger Viewport*/
.p7TPM01 .p7TPMtabs_viewport {
	position:relative;
	overflow:hidden;
	zoom: 1;
}
/*Trigger and Arrows Font Size, top, and bottom padding*/
.p7TPM_arrows_01 a, .p7TPM_tabs_01 a, .p7TPM_tabs_01 a:visited {
	font-size: 14px;
	padding-top: 16px !important;
	padding-bottom: 6px !important;
}
/*Trigger Wrapper*/
.p7TPM01 .p7TPMtabs_wrapper {
	position:relative;
}
/*Trigger UL*/
.p7TPM_tabs_01 {
	margin: 0;
	padding: 0px;
	font-size: 12px;
	position: relative;
	z-index: 999;
	zoom: 1;
}
.p7TPM_tabs_01 a img {
	border: 0;
}
.p7TPM_tabs_01 li {
	float: left;
	list-style-type: none;
	margin-left: -1px;
	background-image: url(img/tpm01_tab_left.jpg);
	background-repeat: no-repeat;
	position: relative;
}
.p7TPM_tabs_01 .tpmfirst {
	margin-left: 0;
}
.p7TPM_tabs_01 a, .p7TPM_tabs_01 a:visited {
	display: block;
	color: #000;
	text-decoration: none;
	padding-right: 18px;
	padding-left: 18px;
	background-image: url(img/tpm01_tab_right.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	border-bottom: 1px solid #CCC;
}
.p7TPM_tabs_01 a:hover, .p7TPM_tabs_01 a:focus {
	outline: 0;
	color: #E39658;
}
.p7TPM_tabs_01 li.open {
	background-position: left -127px;
	top: 1px;
}
.p7TPM_tabs_01 a.open, .p7TPM_tabs_01 a.open:visited {
	text-decoration: none;
	color: #000;
	background-position: right -127px;
	border-color: transparent;
}
/*Panels*/
/*Outer Wrapper*/
.p7TPMcwrapper_01 {
	position: relative;
	top: -1px;
	border: 1px solid #CCC;
	background-color: #FFF;
	border-radius: 0 5px 5px 5px;
}
.p7TPMcwrapper_01.arrows_on {
	border-radius: 0 0px 5px 5px;
}
/*Panels Viewport*/
.p7TPMcwrapper_01 .p7TPM_vp {
	filter: none;
}

/*Individual panels*/
.p7TPM_content_01 {
	padding: 20px;
	color: #000;
	font-size: 13px;
	line-height: 1.5em;
}
.p7TPM_content_01 a {
	text-transform: uppercase;
	color: #C05F30;
}
.p7TPM_content_01 a:hover, .p7TPM_content_01 a:focus {
	color: #000;
}
