/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		.body_pattern #webstore { font-size: 15px!important; min-width: 391px!important; }		

		}
		

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#slider-wrapper object { height: 400px; }
		.menu ul li a.ms_top span { padding-left: 15px; padding-right: 15px; }
		.cols22 .col22 { min-height: 332px; }
		.galereja h2 { width:auto; }
		.galereja ul li { padding-right: 5px; }
		.colonka, .colonka.last { width: 254px; }
		 }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.logo { padding-top: 20px; padding-bottom: 20px; }
		.menu { float: none; margin-top: 10px; margin-bottom: 10px; }
		.menu .tinynav { display: block; height: 30px; width:96%; margin:0 auto; margin-top: 8px; line-height: 30px; padding: 4px 5px; }
		.menu ul { display: none; }
		.img_hover_box.pic a img.h2 { display: none !important;}
		.pic.fr, .pic.fl { float:  none; margin-left: 0px; }
		#panel_setting_side { position: absolute !important; top: 5% !important; z-index: 999999 !important;}
		.cols22 .col22, .cols22 .col22.last { width: 100%; float: none; margin-top: 10px; }
		.galereja h2 { width: auto; }
		.left_part { float:none; }
		.colon1, .colon2, .colon3, .colon4, .colon1 img, .colon2 img, .colon3 img, .colon4 img { width: 100%; height: auto; }
		.img_hover_box:hover .back .pad h1, .img_hover_box:hover .back .pad .h11.fl { display: none;}
		.pad { padding-left: 15px; padding-right: 15px; }
		.colonka, .colonka.last { width: 100%; }
		.centercol.last { float:none;} 
		.sidebar.last { float:none;}
		.cols3 .col3 { float:none; width: auto;}
		.centercol, .centercol.last .sidebar.last, .sidebar { width: auto; float: none; }
		.body_pattern .dc_pricingtable02 .pricing_column_first li.pricing_header2 span { text-align: center; width: 100%; display: block; }
		.how .col22 { width: 100%;}		
		.cols2 .col2, .cols2 .col2.last { width: auto; float: none; }
		.nivoSlider .nivo-caption { display: none !important;}
		.body_pattern .dc_pricingtable02 a.tooltip { margin-left: 40%; }
		.body_pattern .dc_pricingtable02 .pricing_column_first li span { width: 100%; text-align: center; display: block; }
		.body_pattern #webstore { font-size: 11px!important; min-width: 304px!important; }
		.body_pattern .pricing_six .pricing_column, .pricing_six .pricing_column_first { width: 100%!important; }
		.body_pattern .pricing_column_first.gap { width: 100%!important; }
		.body_pattern div.dc_pricingtable03 div.caption_column { width: 100%!important; }
		.body_pattern div.dc_pricingtable03 div.column_1 { width: 100%!important; }
		.body_pattern div.dc_pricingtable03 div.column_2 { width: 100%!important; }
		.body_pattern div.dc_pricingtable03 div.column_3 { width: 100%!important; }
		.body_pattern div.dc_pricingtable03 div.column_4 { width: 100%!important; }
		.body_pattern .dc_pricingtable05 ul { width: 100%; }
		.body_pattern .dc_pricingtable06 ul { width: 100%; }
		.body_pattern .change.some.en br { display: none; }
		.body_pattern #catalogue .product { width: 100%; float: none; }
		.body_pattern .product.last-column .webstore-clear { margin-left: -5px; }
		.body_pattern #webstore #catalogue .product:first-child > div, #catalogue .product:first-child + li > div { margin: 0 0 5px 0; }
		.body_pattern #webstore #catalogue .first-column > div { margin: 0 0 5px 0; }
		.body_pattern #webstore #catalogue .last-column > div { margin: 0 0 5px 0; }
		.body_pattern #cart .description { font-size: 8px; height: auto; }
		.body_pattern #cart-list .title, #cart-list .price { font-size: 8px; }
		.body_pattern #webstore input, #webstore select { width: 15px; height: 13px; }
		.body_pattern #cart input.quantity { width: 6%; }
		.body_pattern #cart-list .price span { padding-left: 5px; font-size: 6px; font-weight: bold; width: auto; }
		.body_pattern #webstore .cart-totals label { font-size: 7px; }
		.body_pattern #webstore .cart-totals label + span { font-size: 7px; }
		.body_pattern #webstore .cart-totals label { width: 0px; }
		.body_pattern #webstore .cart-options label { font-size: 7px; font-weight: bold; }
		.body_pattern #webstore input, #webstore .right.cart-options select { padding: 2px; width: 67px; font-size: 7px; }
		.body_pattern #webstore button span { padding: 0px 2px 0 2px; font-size: 5px; height: 26px; line-height: 26px; }
		.body_pattern #catalogue .price, #webstore button { height: 37px; }
		.body_pattern #checkout form > div:first-child label { margin: 0px; font-size: 9px; }
		#slider-wrapper object { height: 300px; }
		.fl { float:none; }
		.social { float:none; }
		.body_pattern #coment img { float: none; }
		.body_pattern #coment2 img { float: none; }
		.body_pattern #coment .podpis { float: none; }
		.body_pattern #coment2 { margin-left: 0px; }
		.body_pattern #coment2 img { float: none; }
		.body_pattern #coment2 .podpis { float: none; }
		.body_pattern #coment3 { margin-left: 0px; }
		.body_pattern #coment3 img { float: none; }
		.body_pattern #coment3 .podpis { float: none; }
		.body_pattern #coment { padding-bottom: 12px; }
		.body_pattern #coment br { display: none; }
		.body_pattern #coment2 br { display: none; }
		.body_pattern #coment3 br { display: none; }
		.body_pattern #coment3 .podpis { width: 100%; }
		.cols4 .col4, .cols4 .col4.last { width: 95%; float:none; }

		}
 
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

		}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.body_pattern #webstore h3.title { font-size: 7px; }
		.body_pattern #webstore p { font-size: 7px; }
		.body_pattern #catalogue .product > div { padding: 20px 0px; }
		.body_pattern #webstore-container-inner { padding: 20px 10px 0 10px; }
		.body_pattern #webstore .right { padding-left: 20px; width: auto; }
		.body_pattern .dc_pricingtable02 a.tooltip { margin-left: 0%; }		
		#slider-wrapper object { height: 250px; }
		#dc_iso_portfolio_filter { width: 95%; }
		.content_full_size #portfolio { width: 95%; }

		}
		


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/