/*@charset "utf-8";*/

* { outline:none; }

body,
.main,
.clr,
.header,
.content,
.prefooter,
.footer,
form,
ol,
ol li,
ul { margin:0; padding:0; }
ol,
ul,
li { list-style:none; }
body { width:100%;  overflow-x:hidden;}
body,input,textarea {font:normal 12px/1.8em "Liberation sans", Arial, Helvetica, sans-serif; color:#a9a9a9; }
img { border:none; }
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0; line-height:0; }
.fl { float:left; }
.fr { float:right; }
.tal { text-align:left; }
.tar { text-align:right; }
.tac { text-align:center; }
hr { border:1px solid #c8c8c8; margin:30px 0; }
.separator { clear:both; margin:20px auto; padding:0px 0 0px 0; width:100%; height:5px; background:url(../images/sep.png) repeat-x top left; }
.separator.small { margin:10px auto 10px;}
.separator_clear { clear:both; margin:20px auto; padding:0; width:100%; height:2px; }
.separator_clear.small { margin:10px auto;}

/*MAIN BACKGROUNDS*/
.body_pattern { background:<!--#fff url(../images/background.jpg)--> no-repeat top center fixed !important; background-attachment:fixed;}
.main { margin:0 auto; padding:0; width:100%; position:relative; }
#page { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4); overflow: hidden; position: relative; width: 100%; }
a { color:#ff8849; font-weight:normal; text-decoration:none; }
p { margin:0; padding:0 0 10px; }
h1 { margin:0; padding:0; font-weight:bold; font-size:14px;  line-height:1em; color:#333333; text-transform:none;  padding:20px 0;  }
h1 a { color:#707070; text-decoration:none; }
h1 span { color:#9d9d9d; font-size:14px; font-style:normal; font-weight:normal; line-height:1em;  text-transform:none;  display:block; margin-top:10px; padding:0; background:none; }
h1 a:hover { text-decoration:none; }

/*post_titles*/
h2 { width:auto; margin:0px 0 0px 0; padding:20px 0 20px 0; color:#000000; font-size:14px; line-height:1em; font-weight:bold; background:none;}
h2 a, h2 span,h2 a span { color:#565656; background:none; }
.h2_background {position:relative;}
.h2_background h2 {  width:100%; margin:30px 0; padding:0;}
.h2_background h2 span{ padding:10px 20px 10px 0;  }
.h2_arrows { background:#fff; padding: 0 0 0px 15px; position:absolute; right:0; top:-3px; text-transform:uppercase;}
.h2_arrows a { color:#bababa; font-size:11px;}
.h2_arrows a:hover { color:#e25e54;}
.h2_arrows a.arr_href img.arr_l {background:url(../images/arr_l.png) no-repeat;}
.h2_arrows a.arr_href:hover img.arr_l {background:url(../images/arr_l_a.png) no-repeat;}
.h2_arrows a.arr_href img.arr_r { background:url(../images/arr_r.png) no-repeat;}
.h2_arrows a.arr_href:hover img.arr_r { background:url(../images/arr_r_a.png) no-repeat;}

/*images titles etc,...*/
h3 {  font-size:12px; font-weight:bold; color:#313131;  line-height:1em; padding:5px 0 5px; margin:10px 0 10px; }
h3 span { color:#ffffff; text-decoration:none; font-weight:bold; font-style:normal; margin:0; padding:0; font-size:12px; text-transform:uppercase; }
h3 a { color:#717171; text-decoration:none; font-weight:normal; }
h3 a:hover { text-decoration:none; color:#ff8849; }
h3 span a:hover { text-decoration:none; color:#ff8849; }
a:hover h3.hover { color:#ff8849; } 

/*h3.h3_act_href*/
h3.h3_act_href { clear:both; width:100%; text-align:left; display:block; background:none; padding-left:0; height:15px; }
h3.h3_act_href a span,
h3.h3_act_href a{ color:#313131; text-decoration:none; font-weight:bold;  }
h3.h3_act_href a:hover span,
h3.h3_act_href a:hover em,
h3.h3_act_href a:hover{ text-decoration:none;  }
h3.h3_act_href a.h3_href em {font-style:normal;}
a.h3_href {padding:5px 0px 5px 50px;}
a.ico_1{background:url(../images/ico.png) no-repeat left center;}
a.ico_2{background:url(../images/ico-02.png) no-repeat left center;}
a.ico_3{background:url(../images/ico-03.png) no-repeat left center;}
a.ico_4{background:url(../images/ico-04.png) no-repeat left center;}
a.ico_5{background:url(../images/ico-05.png) no-repeat left center;}
h4 { color:#fff; font-size:16px; font-weight:300;}
h4 small { font-size:12px; color:#a6a6a6; margin-top:20px;}

/* header */
.header { margin:0 auto; padding:0; width:100%; position:relative;   }
.header_text {background:none; width:180px; height:40px; float:right;}
.header_text p {color:#161616; font-size:14px; text-align:left; padding-top:35px; float:left;}
.header_bg { margin:0 auto; padding:0; width:100%; background: rgba(0,0,0,0.8);}

/*dweebs temp edit*/

@media only screen and (min-width:0px) and (max-width: 700px) {
.header_bg{ margin:0 auto; padding:0; width:120%; background: rgba(0,0,0,0.8);}
}
.header_resize { margin:0 auto; padding:0; }
.header_resize p { padding:10px 0;}
.resize { margin:0 auto; padding:0; width:1000px;}
.logo { margin:0; padding:60px 0; font-size:40px; text-transform:uppercase;  line-height:1em; float:left;}
.logo div { margin:0 auto; padding:0 0 0; font-weight:normal;  font-weight:bold;  float:left; }
.logo div a span { color:#ffffff; text-decoration:none; font-weight:bold;  text-align:left; }
.logo div a,
.logo div a:hover { color:#ffffff; text-decoration:none; font-weight:bold;  text-align:left;   }
.logo div span em.logo_2_color { color:#fff; font-style:normal;}
.logo p { padding:24px 0 1px 15px; margin:0; font-size:11px; line-height:1em;  color:#777777; font-weight:bold; font-style:normal; text-transform:uppercase;text-align:left; float:left;}

/*now_page*/
.now_page { margin:2px auto; padding:0px 0 00px; background: rgba(0,0,0,0.8);  position:relative; }
.index_page .now_page {padding-top:10px; border-top:none;}
.now_page_resize { margin:0 auto; padding:0; text-align:left;  }
.now_page_resize h1 { padding-top:40px; text-align:center; }
.now_page_resize.home h1 { padding:30px 30px 40px 30px; font-size:18px !important; text-align:left; font-style:italic; color:#e25921 !important; }
.now_page_resize p { font-weight:400;  text-align:center;}

/* content */
.content { margin:0px 0 0px 0; padding:0px 0px; width:100%; position:relative; z-index:10000;/*margin-top:-30px;*/ }
.content_resize { margin:20px auto; position:relative; z-index:10000;/* position:relative; z-index:21; */}
.content_page { position:relative; z-index:10000; background: rgba(0,0,0,0.8);}
.h2_href_fr a span{color:#fff; font-size:10px; font-weight:normal; padding:3px 8px; background:#272727; text-transform:uppercase;}
.h2_href_fr a:hover span{background:#f04e38;}
.img_hover_box { position:relative;}
.back { display:none; background:rgba(0,0,0,0.8);}
.img_hover_box:hover .back { display:block;}
.img_hover_box.pic a { display: block; position: relative;  }
.img_hover_box.pic a img { margin:0; }
.img_hover_box.pic a img.h { position: absolute; top: 0; left: 0; visibility:hidden; background:transparent url(../images/img_z.png) 50% 62% no-repeat; border:none; }
.img_hover_box.pic a:hover img.h { visibility:visible; }
.img_hover_box.pic a img.h1 { position: absolute; top: 0; left: 0; visibility:hidden; background:transparent url(../images/img_z.png) 50% 55% no-repeat; border:none; display:none; }
.img_hover_box.pic a:hover img.h1 {  }
.img_hover_box.pic a img.h2 { position: absolute; top: 0; left: 0; visibility:hidden; background: rgba(0,0,0,0.5) url(../images/img_z.png) center center no-repeat; border:none; display:none; width:100%; }
.img_hover_box.pic a:hover img.h2 { visibility:visible; display:block; }
.galereja .img_hover_box.pic a h3 {margin:0; padding:0; }
.img_hover_box.pic a h3 span { display:none; position:absolute; top:60px; left:30px; z-index:100; color:#ffffff; margin:0; padding:0;}
.img_hover_box.pic a:hover h3 span { display:block;}
p.details { color:#ffffff; font-style:italic; font-size:13px !important; float:left; width:62%;}
p.but a { color:#ffffff !important; font-size:14px !important; background:#e25921; border-radius:3px; float:right; padding:10px;}
.backgr { background:#0b0b0b;}
.backgr:hover {background:#e25e54;}
.backgr h3 {padding:10px 15px; font-size:14px;}
.backgr h3 a span{ color:#999999; font-size:14px; font-style:normal;}
.backgr:hover h3 a span,.backgr:hover h3 a:hover span,.backgr:hover p{ color:#2d2d2d; }

/*1cols*/
.cols1 { margin:0px auto 0; width:100%; padding:0; text-align:left; }
.col1 { width:100%; margin:0 0 0 0; padding:0; }
.col1 img.h2 { width:100%;}
.col1.last { float:right; margin-right:0; padding:0; }
.cols1 .img_hover_box.pic a { width: 100%; height:100%; }
.cols1 .img_hover_box.pic a img{ float:left; }
.img_hover_box.pic a img.h2 { height: 100%; }
.cols_bg {padding-bottom:15px; border-bottom:2px solid #f0f0f0;}
.cols_bg:hover { border-bottom:2px solid #f67e40;}
.cols_bg_post .post_detail a {  background:#efefef;  padding:10px; display:block; }
.cols_bg_post .post_detail a em {color:#8e8e8e; font-weight:normal;}
.cols_bg_post:hover .post_detail a { background:#e25e54;}
.cols_bg_post:hover .post_detail a em {color:#fff;}
h3 a.h3_detail span{ text-transform:none; font-size:14px; color:#767676;}
.content_box { padding:0; margin-bottom:30px; width:900px; }
.content_box.padding {  }
.content_full_size { width:100%; }

/*centercol*/
.centercol { width:65%; float:left; padding:0; }
.centercol.last {float:right;}
a.more { color:#8b8b8e; font-weight: normal; text-decoration: none; }

/*sub_page_about*/
.about_span { padding:0 0 0 40px; background:url(../images/qoute.png) no-repeat top left; }

/*sub_page_portfolio*/
.sub_page_portfolio h3 { margin:5px 0 10px; padding:0; color:#656566; font-size:13px; font-weight:bold; text-transform:none; margin-top:10px; }
.sub_page_portfolio h3 a { color:#656566; text-decoration:none; font-weight:bold; }
.sub_page_portfolio h3 a:hover { color:#d67732; text-decoration:none; font-weight:bold; }

/*pagination*/
.pagination { margin:0; float:none; padding:10px 10px 00px 0; width:100%; text-align:left; font-weight:normal; }
.pagination a { padding:5px 8px; color:#939393; font-weight:normal; text-decoration:none; background:none; border:transparent; }
.pagination a:hover { padding:5px 8px; text-decoration:none; background:#222222; color:#939393; border:transparent; }
.pagination span.current_page { padding:5px 8px; color:#fff; background:#e25e54; border:transparent; }
.pagination span.count_pages { margin-left:11px; padding:5px 8px 5px 8px; background:#222222; color:#939393; border:transparent; }

/*navigation*/
.navigation { margin:0 auto 20px; padding:8px 0 10px 0; width:900px; }
.navigation a { padding:2px 4px; color:#656563; font-size:11px; text-decoration:none; font-weight:normal; }
.navigation a:hover { color:#656566; }
.navigation span.current { color:#656566; padding:0; font-size:11px; }
.navigation span.text { color:#c3c3c3; padding:0; font-size:12px; }

/*sub_page_contact*/

.ul_list {}
.ul_list ul{}
.ul_list li{ padding:5px 0; border-bottom:1px solid #4e4e4e;}
.ul_list li.last{  border-bottom:none;}
.ul_list li a{color:#a9a9a9;}
.ul_list li a:hover{color:#ffffff; text-decoration:none;}

/*prefooter_text*/
.prefooter_text { background:#d82546; padding:70px 0 40px 0; position:relative; margin-top:-70px; z-index:1;}
.prefooter_text h1 { color:#ffffff !important;}
.prefooter_text p { color:#ffa7b7; text-align:center; font-style:italic;}

/* prefooter */
.prefooter { margin:0 auto;  width:100%; padding:0px 0 0; background:#b71735; position:relative; z-index:10; margin-top:-0px;}
.prefooter_resize { width:1000px; margin:0 auto; padding:30px 00px 20px;    }
.prefooter h3 { font-size:16px !important; color:#ffffff !important; font-stretch:condensed; font-weight:normal;}
.prefooter .fcol { margin:0 20px 0 0; float:left; width:300px; padding:0; }
.prefooter .fcol p { color:#ffffff; }
.prefooter .fcol p span { color:#ffa7b7; }
.prefooter .fcol.last p { margin-bottom:10px;}
.prefooter .fcol.last p a { color:#ff8849; font-size:11px; position:relative; bottom:2px;}
/*.prefooter .fcol a { color:#e25e54;}*/
.prefooter .fcol.pop_posts p { padding:0 0 20px 0px ;}
.prefooter .fcol.pop_posts h3 { padding:0px 0 0px 0px ;}
.prefooter .fcol.pop_posts h3 span{padding-bottom: 0px ;}
/*.prefooter .fcol.twit a { font-style:italic; font-size:11px; font-weight:normal; display:block; margin:0; padding:0; }

.prefooter .fcol.twit p span {  font-size:11px; display:block; margin:0 0 5px 0; padding:0; }

.prefooter .fcol.pop_posts img { float:left; margin:5px 20px 0 0; }*/

.prefooter .fcol.last { margin-right:0; float:right; }

/*.prefooter .fcol.client_says p {font-style:italic; padding:0 0 10px 0;}

.prefooter .fcol.pop_posts a span,

.prefooter .fcol.client_says a span{font-style:normal;  font-size:11px; font-weight:normal; display:block; margin:0; padding:0;}

*/
.prefooter h2 {background:url(../images/h2_bg.png) repeat-x  left; width:100%; margin:30px 0; padding:0;}
.prefooter h2 span{ padding:10px 15px 10px 0; background:#464646; }
.prefooter h2 { margin:0px 0 30px; font-weight:normal; }
.prefooter h2 span { font-weight:normal;}
.prefooter h2 span em.dark {color:#ffffff; font-size:14px; font-style:normal; font-weight:normal;}
.prefooter #contactform { margin:0; padding:0px 0; }
.prefooter #contactform * {  }
.prefooter #contactform ol { margin:0; padding:0; list-style:none; }
.prefooter #contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
.prefooter #contactform li.buttons { margin:5px 0 5px 0; clear:both; }
.prefooter #contactform input.text { width:186px; margin:0 0 5px 0; padding:5px 2px; height:15px; background: rgba(0,0,0,0.8); float:left; font-size:12px; color:#868686; }
.prefooter #contactform textarea { width:186px; margin:0 0 4px 0; padding:3px 2px; background: rgba(0,0,0,0.8); float:left; font-size:12px; color:#868686; }
.prefooter #contactform li.buttons input { padding:0 0 3px 0; margin:5px 0 0 0px; border:0; color:#FFF; float:left; }
.flickr img { margin:2px 4px 0 0; padding:3px; background: rgba(0,0,0,0.8); border:1px solid #dedede;}
.flickr a:hover img { /*background:#525252;*/ }
.prefooter .pic a img {padding:3px; background:#3c3c3c;}
.prefooter .pic a:hover img { background:#202020;}

/* footer */
.footer {width:100%; margin:0 auto; padding:00px 0px ;background:rgba(0,0,0,0.8); margin-top:0px; }
.footer_resize { margin:0 auto; padding:10px 0 5px 0; text-align:center; }
.footer a { color:#848077 !important; }
.footer p { text-align:center; padding-top:5px; color:#848077; }

.pic img {/*padding:3px; background:#f4f4f4; border:1px solid #fff;*/}
.pic a:hover img { } 
.pic img.h {background:none;}
.pic img {margin-bottom:0px; max-width: 100%; height: auto;}
.pic a {margin-bottom:15px;}
.pic.fl { margin:5px 20px 10px 0; }
.pic.fr { margin:5px 0 20px 10px; }
/*

.btn { margin:2px 0 0;  padding:10px 0px 0; text-align:center; }

.btn a { font-size:14px; color:#e25e54; text-transform:uppercase; height:33px;  padding:10px 15px 10px; background:url(../images/btn_bg.png) repeat-x top center; border:1px solid #ececec; font-weight:bold; }

*/
.btn a span{color:#7d7d7d; font-size:12px; font-weight:bold; padding:5px 15px; background:#fcfcfc; text-transform:uppercase; border:1px solid #d7d7d7;}

/*img_hover_box_r_plus*/
.img_hover_box.pic a img.r_plus_overlay { position: absolute; top: 0; left: 0; visibility:hidden;  border:none; width:100%; height:183px; padding:0; }
.img_hover_box.pic a:hover img.r_plus_overlay { visibility:visible; background:#fff repeat; opacity:0.5; filter: alpha(opacity=50);  -moz-opacity:0.5;}
.img_hover_box.pic a img.r_plus { position: absolute; top: 50%; left: 50%; visibility:hidden; background:none; border:none; }
.img_hover_box.pic a img.r_plus {margin:-8px 0 0 -8px;}
.img_hover_box.pic a:hover img.r_plus { visibility:visible; }

/*3 colons*/
.colonka { float:left; width:332px; margin-right:2px; background:rgba(0,0,0,0.8); margin-top:2px; }
.colonka.last { float:left; width:332px; margin-right:0px;}
.back { position:absolute; left:0px;  top:0px; width:100%; height:100%;}
.back a img { padding-right:10px; margin-right:10px;}
.back p.bottom {}
.left_part { float:left;}
.colon1 {width:615px; height:300px; float:left;}
.colon2 {width:307px; height:300px; float:left; margin-top:2px; margin-right:2px;}
.colon3 {width:307px; height:300px; float:left; margin-top:2px;}
.colon4 {width:300px; height:602px; float:left; margin-left:2px;}

/*detail a*/
p.detail {padding-top:10px;}
.detail a,a.detail {color:#717171; font-size:12px; text-align:left; font-weight:normal;}
.detail a:hover,a.detail:hover {color:#e25e54; text-decoration:none;}

/*note*/
.note {margin:0 auto; padding:0; clear:both;}
.note p { width:265px; float:right; font-style:italic; font-weight:normal; padding:5px 0 0 45px; background:url(../images/quote.png) no-repeat left top;}
.note .pic {margin-right:0;}
.note.small {width:600px; margin:0 auto; padding:0;}
.note.small p{width:530px;}

/* Search */
.search { padding:5px 0 5px 0; margin:0 -15px 0 0; float:right; text-align:left; }
.search p { float:left; margin-right:10px; color:#ffffff; margin-top:10px;}
.search form { float:right;}
#search { border:none !important;}
#search span { width:200px; display:block; margin:0; padding:0;background:#f5f5f5; height:26px; margin-top:3px; }
#search input { float:left; width:90%; padding:4px 0; margin:0; border:none; background:none; color:#8e8e8e; text-transform: none; font-size:11px; line-height:18px; text-indent:10px; }
#search .btn { cursor:pointer; text-indent:-9999px; padding:0; height:26px; position:relative; right:3px; margin:0; border:0; width:10%; background:URL(../images/search.png) no-repeat center center; }
.banner { background:url(../images/13_home.png) center center no-repeat; width:100%; height:1967px;}
.op { position:relative;}
img.marker { position:absolute; top:15px; right:50%;}
input.required { float:left; height:20px; line-height:20px; padding-left:5px; width:200px;}
.clear input.button { background:#d82546 !important; color:#ffffff !important; border:none; float:left; padding:2px 4px 3px 4px; cursor:pointer; position:relative; bottom:2.5px; right:2px;}
p.crl { color:#ffa7b7 !important; margin-top:10px;}
p.ital { font-style:italic; padding-left:10px;}
.menu .tinynav { display: none; height: 30px; }
#slider-wrapper object { width: 100%; }
.two_third_pad img, .one_half_pad img, .one_third_pad img, .one_half_pad img, .one_fourth_pad img { max-width: 100%; height: auto; }
.column_1 h2.col1, .column_2 h2.col2, .column_3 h2.col3, .column_4 h2.col4 { text-align: center; float:none; width: 100%; }
.column_1 h1 span, .column_2 h1 span, .column_3 h1 span, .column_4 h1 span { display:inline; color: #fff; }
.column_1 .col1, .column_4 .col4, .column_3 .col3, .dc_pricingtable03 .col2 { float:none; width: 100%; color: #fff !important; }

/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	width:700px;
	margin:5px 0 5px 0;
	border:5px solid #F5F5F5;	
}
.markItUpContainer  {
	border:1px solid #3C769D;	
	background:#FFF url(images/bg-container.png) repeat-x top left;
	padding:5px 5px 2px 5px;
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
	font:12px 'Courier New', Courier, monospace;
	padding:5px 5px 5px 35px;
	border:3px solid #3C769D;
	width:643px;
	height:320px;
	background-image:url(images/bg.png);
	background-repeat:repeat;
	clear:both; display:block;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFFFFF;
	border:1px solid #3C769D;
	width:99.9%;
	height:300px;
	margin:5px 0;
}
.markItUpFooter {
	width:100%;
	cursor:n-resize;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/handle.png);
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li ul{
	display:none;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(images/menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;	
	background:#F5F5F5;
	border:1px solid #3C769D;
	height:inherit;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #3C769D;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#F5F5F5 url(images/submenu.png) no-repeat 100% 50%;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
	margin:0px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px; 
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#3C769D;
}
/***************************************************************************************/
.html .markItUpEditor {
	background-image:url(images/bg-editor-html.png);
}
.markdown .markItUpEditor {
	background-image:url(images/bg-editor-markdown.png);
}
.textile .markItUpEditor {
	background-image:url(images/bg-editor-textile.png);
}
.bbcode .markItUpEditor {
	background-image:url(images/bg-editor-bbcode.png);
}
.wiki .markItUpEditor,
.dotclear .markItUpEditor {
	background-image:url(images/bg-editor-wiki.png);
}

